<!DOCTYPE html>

<h1>Deloitte Test Case</h1>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block title %}
    Please type in the string you'd like to convert, note that the string must be separated by spaces and is NOT case sensitive.
{% endblock %}
</head>
{% block content %}
<body>
    <div class="input-group">
        <div class="input-group-prepend">
            <button name="submit", type="submit", class="btn btn-success"> Submit</button>
        </div>
        <input name="text_input", type="text", class="form-control", placeholder= "please input text here">
    </div>
</body>
{% endblock %}